NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_DRIVE_SERVICE_ACCOUNT_JSON=

NEXT_PUBLIC_APP_URL=
REDIRECT_URI=
CRON_SECRET=
PLAYWRIGHT_BASE_URL=

RESEND_API_KEY=

NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=
